.chat-main {
    position: absolute;
    
    left: 0;
    margin: 0px 50px 30px 0px;
    padding: 10px;
    max-height: 70%;
    background-color: rgba(255, 255, 255, 0.699);
    overflow: scroll;
    height: 44.5%;
    width: 300px;
    margin-bottom: 0;
    margin-top: -16px;
}

.friendList {
    text-decoration: none;
    list-style: none;
    padding: 10px 0px;
    width: 250px;
    margin-left: -28px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.friendListOff {
    text-decoration: none;
    list-style: none;
    padding: 10px 0px;
    width: 250px;
    margin-left: -28px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.sendMsg {
    width: 300px;
    margin-left: -10px;
    background-color: rgba(121, 185, 112, 0.568);
    transition: .2s ease-in-out;
    margin-bottom: 0;
}

.sendMsg:hover {
    background-color: rgba(120, 185, 112, 0.267)
}

.msg {
    margin-left: 0px;
    margin-top: 0px;
    width: 300px;
    height: 100px;
    margin-left: -10px;
    text-align: left;
    margin-bottom: 0;
}

.friendList:hover{
    font-size: 1.2em;
}

.tab-content{
    overflow-y: scroll;
    overflow-x: hidden;
}

.onlineHead {
    border: 2px groove rgba(226, 226, 226, 0.466);
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.685);
    text-align: left;
}

.chatUser {
    float: left;
    margin-left: 60px;
    margin-top: -8px;
}

.back {
    cursor: pointer;
    float: left;
}

.messages {
    clear: both;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 190px;
    margin-bottom: 0;

}

.message {

    list-style: none;
}