.logout-btn {
    width: 25vw;
    background-color: green;
    color: white; 
    border: none; 
    border-radius: 3%;
    margin: 5vh auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.logout-btn:hover {
    background-color: white;
    color: green;
}
